<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ToDo List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="applyFilters()"></ion-searchbar>
  <ion-item>
    <ion-label>Статус</ion-label>
    <ion-segment [(ngModel)]="statusFilter" (ionChange)="applyFilters()">
      <ion-segment-button value="all">Все</ion-segment-button>
      <ion-segment-button value="pending">Активные</ion-segment-button>
      <ion-segment-button value="completed">Выполненные</ion-segment-button>
    </ion-segment>
  </ion-item>
  <ion-item>
    <ion-label>Теги</ion-label>
    <ion-select [(ngModel)]="tagFilter" multiple (ionChange)="applyFilters()">
      <ion-select-option *ngFor="let tag of allTags" [value]="tag">{{tag}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list inset *ngIf="tasks.length">
    <ion-reorder-group (ionItemReorder)="reorder($event)" disabled="false">
      <ion-item-sliding *ngFor="let task of tasks" [@itemAnim]>
        <ion-item (click)="openTaskDetails(task)">
          <ion-label>
            <h2 [class.completed]="task.completed">{{ task.title }}</h2>
            <p>{{ task.description }}</p>
          </ion-label>
          <ion-checkbox slot="start" [checked]="task.completed" (ionChange)="toggleComplete(task)"></ion-checkbox>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option color="success" (click)="toggleComplete(task)">Завершить</ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteTask(task.id)">Удалить</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-reorder-group>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openTaskDetails()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
